<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robogardener">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_mock_hardware" default="false" />

  <xacro:include filename="core.xacro" />
  <xacro:include filename="materials.xacro" />
  <xacro:include filename="ros2_control.xacro" />
  
  <!-- Actually call the ros2_control macro -->
  <xacro:robogardener_ros2_control 
    name="robogardener" 
    prefix="$(arg prefix)" 
    use_mock_hardware="$(arg use_mock_hardware)"/>
</robot>